html {
  font-size: 14px;
}

.main-container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cart-product-item {
    border: 2px solid lightgray;
    width: 80%;
}

.cart-product-item img {
    width: 100%;
}

.feedback-product-picture {
    width: 50px;
}

.profile-feedback-container {
    padding: 7px 0px 0px 5px;
    margin-top: 5px;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.product-feedback-container {
    border: 2px solid lightgray;
    border-radius: 5px;
    height: 41vh;
    overflow: auto;
    width: 95%;
}

.product-feedback {
    border: 2px solid lightgray;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: 90%;
}

.product-feedback i {
    font-size: small;
}

.product-feedback span {
    color: gold;
}

.product-feedback p {
    padding: 0;
    margin: 0;
}

.my-product-feedback {
    color: darkgreen;
    border-color: green;
}

.product-feedback-add-container {
    width: 80%;
    margin: 0 10%;
}

.product-feedback-add-container textarea {
    height: 70%;
}

.title_image {
    width: 200px;
    height: 130px;
    object-fit: cover;
}

.avatar, .no-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
}

.avatar {
    object-fit: cover;
}

.no-avatar {
    background-color: burlywood;
    font-size: x-large;
    text-align: center;
}

.a-no-underline {
    text-decoration: none;
    color: black;
}

.a-no-underline:hover {
    text-decoration: none;
    color: black;
}

/* PROFILE */

body {
    background-color: #f9f9fa;
}

#profile-edit {
    cursor: pointer;
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.head-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 650;
}

.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
    border: none;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 0 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    background-color: burlywood;
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    max-height: 100px;
}

.avatar-letter {
    height: 100px;
    font-size: 60px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
    font-size: 18px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 15px;
}

.m-t-40 {
    margin-top: 40px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* END PROFILE */

/* GROUP CARD */

.cards-container {
    margin: 30px 0 30px 0;
    display:flex;
    justify-content:center;
}

.product-card {
    background-color: #f5f6fa;
    border-radius: 10px;
    color: #2f3640;
    margin: 0 2em;
    transition: all linear .2s;
    width: 250px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
}

.product-card:hover,
.product-card:active {
    box-shadow: .2em .5em .5em rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

.product-img {
    border-radius: 10px 10px 0 0;
    height: 150px;
    width: 100%;
}

.img {
    background-size: cover;
    background-position: center;
}

.product-text {
    padding: 1em;
    text-align: center;
    background-color: #e7eaee;
    color: black;
}

.product-cart button {
    border: 0;
    border-radius: 0 0 10px 10px;
    color: #f5f6fa;
    cursor: pointer;
    font-family: inherit;
    padding: 1em;
    text-transform: uppercase;
    transition: all linear .3s;
    width: 100%;
}

.product-cart button:hover {
    font-weight: 500;
    letter-spacing: .1em;
}

/* color */
.product-card:first-child h3 {
    color: #e84118;
}

.product-card:first-child button {
    background-color: #e84118;
}

.product-card:nth-child(2) h3 {
    color: #fbc531;
}

.product-card:nth-child(2) button {
    background-color: #fbc531;
}

.product-card:last-child h3 {
    color: #0097e6;
}

.product-card:last-child button {
    background-color: #0097e6;
}

/* media queries */
@media screen and (max-width: 860px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
    }

    .product-card {
        margin: 1.5em;
    }
}

.description {
    height: 50px;
}

/* END GROUP CARD */

.groups-row {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.groups-row-item {
    border: 2px solid lightgray;
    margin: 10px 15px 10px 15px;
    padding: 8px;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.groups-row-item-selected {
    border: 2px solid rgb(230, 157, 157);
}

.groups-row-item:hover {
    border-color: rgb(0, 127, 211);
}

.groups-row-item img {
    height: 75px;
    width: 100px;
}

.groups-row-item p {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 0;
    font-weight: 650;
}

.item-product-card {
    display: inline-block;
    width: 250px;
    margin: 50px 5px 5px 5px;
    height: 525px;
    border: 2px solid lightgray;
    transition: border-color 0.3s ease;
    border-radius: 5px;
    vertical-align: top;
}

.item-product-card button {
    margin-left: 15px;
}

.item-product-card:hover {
    border-color: rgb(0, 127, 211);
}

.product-img-container {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

.item-product-card img {
    width: 90%;
    display: block;
    max-height: 90%;
    border-radius: 5px 5px 0 0;
}

.product-info-container {
    padding: 8px 15px;
}

.item-product-card h2 {
    font-size: 32px;
}

.item-product-card p {
    height: 40px;
    font-size: 16px;
}

.item-product-card h3 {
    font-size: 26px;
}

/* PRODUCT LIST */

.page-content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.left-block {
    width: 14%;
    padding: 10px;
    margin-top: 20px;
    border-right: 2px solid #ccc;
    position: sticky;
    top: 20px;
    min-height: 87vh;
}

.groups-small-list-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.groups-small-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content-container {
    width: 86%;
    padding-left: 10px;
}

.groups-row-item {
    display: inline-block;
    width: 98%;
    margin: 1%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.product-item {
    display: inline-block;
    width: calc(33% - 20px);
    margin: 10px;
    box-sizing: border-box;
}

/* END PRODUCT LIST */

/* PRODUCT PAGE */

.product-picture {
    width: 100%;
}

/* END PRODUCT PAGE*/